{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!--<h1 align="center">AcentaDollar</h1>-->
<h2 align="center">Keep track of your expenses and finally reach your savings goals with AcentaDollar</h2>
    <div align="center">
        <image src="{{ url_for ('static', filename='img/savingsgraph.png')}}">
    </div>

{% endblock %}
<h1 align="center">This is the home page</h1>
    <div align="center">
        <image src="{{ url_for ('static', filename='img/savingsgraph.png')}}">
    </div>