{% extends "base.html" %} {% block title %}Income{% endblock %} {% block content
%}
<h1 align="center">Income</h1>
<ul class="list-group list-group-flush" id="income">
  {% for income in user.income %}
  <li class="list-group-item">
    {{ income.income_name }}
    ${{ income.income_amount }}
    <button type="button" class="close" onClick="deleteIncome({{ income.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
<!--  <h3 align="center">Expense List</h3>-->
  <div class="form-group">
    <label for="incomeName">Income Name</label>
    <input
      type="text"
      class="form-control"
      id="incomeName"
      name="incomeName"
      placeholder="Enter Income Name"
    />
  </div>
  <div class="form-group">
    <label for="incomeAmount">Income Amount</label>
    <input
      type="text"
      class="form-control"
      id="incomeAmount"
      name="incomeAmount"
      placeholder="Enter amount"
    />
  </div>

  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Income</button>
  </div>
</form>
{% endblock %}